# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs
logs/
*.log
debug.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.iml

# Selenium WebDriver caches
.geckodriver.log
chromedriver.log

# .gitignore
.env