/* static/style.css */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: #0f172a;
  color: #ffffff;
  text-align: center;
  margin: 40px;
}

form {
  background-color: #1e293b;
}

input,
button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.text-content {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  color: white;
  background: #1e293b;
  white-space: pre-wrap;
}
